// BANNER //
.banner {
  height: calc(100vh - 7em);
  background: url('../images/fondbanner.png') no-repeat center center;
  background-size: cover !important;
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
  text-align: center;
}

#main-logo{
  max-width: 100vw;
}

// Nav-bar Main //
.main-header{
  display: block;
  position: fixed;
  height: 7em;
  width: 100vw;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: $header-font;
  font-weight: lighter;
  opacity: 0;
  z-index: 100;
}


// Nav-bar Logo //
.logo-homepage img {
  height: 100px;
}

.logo-subpage img {
  height: 80px;
}

// Nav-bar Navigation Section //
.navigation-menu{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation_links{
  margin: 0;
  cursor:pointer;
  padding: 0 2em;
  .nav-item{
    margin: 0 0.7em;
    a{
      color: #333;
      text-decoration:none;
      font-size: $header-size;
      }
    }
  }

// For Animation
.main-header, .logo-homepage>img, .logo-subpage>img{
  transition: all 250ms ease-out;
}
.scrolled-nav{
  height: 6em !important;
  background-color: #ffffff;
  border-bottom: 1px solid $product-hunt;
  opacity: 1 !important;
}
.scrolled:hover{
    border-bottom: 2px solid #6CBBC5 !important;
  }

// Nav-bar responsive
.nav-mobile {
  //display: none;
  position: absolute;
  top: -50px;
  right: -30px;
  height: 6em;
  width: 6em;
}

.responsive-dropdown-right {
  margin-top: 48px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
  width: 92vw;
  li{
    display: inline !important;
  }
  li > a {
    transition: color 0.3s ease;
    font-weight: lighter !important;
    color: #333 !important;
    font-size: 1em !important;
    line-height: 22px !important;
    padding: 10px 20px;
  }
  li > a:hover {
    border-bottom: 0px !important;
  }
  &:before {
    content: ' ';
    height: 15px;
    width: 15px;
    position: absolute;
    right: 40px;
    top: -9px;
    background-color: white;
    transform: rotate(45deg);
    border-left: 1px solid #E6E6E6;
    border-top: 1px solid #E6E6E6;
  }
}

@media only screen and (max-width: 995px) {
// Insert all mobile styles here
  .main-header{
    justify-content: space-between;
  }
  #nav-toggle {
  position: absolute;
  left: 0px;
  top: 36px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
  span,
  span:before,
  span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: #333;
    position: absolute;
    display: block;
    content: '';
    transition: all 300ms ease-in-out;
  }
  span:before {
    top: -10px;
  }
  span:after {
    bottom: -10px;
  }
  &.active span {
    background-color: transparent;
    &:before,
    &:after {
      top: 0;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }
}
}
