/* RSVP -- Main class */
#rsvp{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  padding-top: 4em;
  margin-top: 2em;
  .rsvp-full{
    width: 85%;
  }
  .rsvp-details{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 18em;
    margin-top: 2em;
    .rsvp-inputs{
      height: 11em;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
    }
    .group{
      display: flex;
      justify-content: space-between;
    }
    #sub{
      width: 48%;
    }
    #song{
      width: 100%;
    }
    input{
      width: 48%;
      margin: 10px 0;
      padding-bottom: 7px;
      border: 0;
      border-bottom: 1px solid #515151;
      background-color: transparent;
      &::placeholder{
        font-weight: lighter;
        color: $gray-lighter;
      }
    }
  }
}
.rsvp-check{
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  h3{
    display: inline;
    margin: 15px 0;
  }
  input[type="checkbox"]{
    margin-left: 3vw;
  }
}
#submit-rsvp{
  margin-top: 2em;
  padding: 20px 30px;
  border-radius: 5px;
  background: transparent;
  border: 1px solid darken(#99d4dc, 15%);
  color: darken(#99d4dc, 15%);
  font-weight: bolder;
  transition: all .5s ease-out;
  &:hover{
    background-color: darken(#99d4dc, 15%);
    color: white;
  }
}

.division-rsvp{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em 0 5em;
  .rsvp-image{
    position: absolute;
    height: 14em;
  }
}

.flower-division{
  width: 100%;
}

// Checkboxes
.check-containter{
  margin: 0;
  font-size: calc(1em);
}

#yes > .check-containter{
  margin-left: 23px;
}
.label__checkbox {
  display: none;
}

.label__check {
  display: inline-block;
  border-radius: 50%;
  border: 2px solid rgba(0,0,0,0.3);
  background: white;
  vertical-align: middle;
  margin-right: 20px;
  width: 2em;
  height: 2em;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border .3s ease;

  i.icon {
    opacity: 0.4;
    font-size: calc(1.2em);
    color: transparent;
    transition: opacity .3s .1s ease;
    -webkit-text-stroke: 1.5px rgba(0,0,0,.7);
    &:hover{
      opacity: 0.6;
    }
  }

  &:hover {
    border: 2px solid rgba(0,0,0,0.5);
  }
}
#yes-check{
  margin-left: 2px;
}

#yes-check:checked + .label__text .label__check {
  animation: checkyes .5s cubic-bezier(0.895, 0.030, 0.685, 0.220) 1 forwards;

  .icon {
    opacity: 1;
    transform: scale(0);
    color: white;
    -webkit-text-stroke: 0;
    animation: icon .3s cubic-bezier(1.000, 0.008, 0.565, 1.650) .1s 1 forwards;
  }
}

#no-check:checked + .label__text .label__check {
  animation: checkno .5s cubic-bezier(0.895, 0.030, 0.685, 0.220) 1 forwards;

  .icon {
    opacity: 1;
    transform: scale(0);
    color: white;
    -webkit-text-stroke: 0;
    animation: icon .3s cubic-bezier(1.000, 0.008, 0.565, 1.650) .1s 1 forwards;
  }
}

@keyframes icon {
  from {
    opacity: 0;
    transform: scale(0.3);
  }
  to {
    opacity: 1;
    transform: scale(1)
  }
}

@keyframes checkyes {
  10% {
    width: 2em;
    height: 2em;
    opacity: 0.1;
    background: rgba(0,0,0,0.2);
    border-width: 15px;
  }
  12% {
    width: 2em;
    height: 2em;
    opacity: 0.4;
    background: rgba(0,0,0,0.1);
    border-width: 0;
  }
  50% {
    width: 2em;
    height: 2em;
    background: #00d478;
    border: 0;
    opacity: 0.6;
  }
  100% {
    width: 2em;
    height: 2em;
    background: #00d478;
    border: 0;
    opacity: 1;
  }
}

@keyframes checkno {
  10% {
    width: 2em;
    height: 2em;
    opacity: 0.1;
    background: rgba(0,0,0,0.2);
    border-width: 15px;
  }
  12% {
    width: 2em;
    height: 2em;
    opacity: 0.4;
    background: rgba(0,0,0,0.1);
    border-width: 0;
  }
  50% {
    width: 2em;
    height: 2em;
    background: #c30101;
    border: 0;
    opacity: 0.6;
  }
  100% {
    width: 2em;
    height: 2em;
    background: #c30101;
    border: 0;
    opacity: 1;
  }
}

// Modal
.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
.modal-card{
  display: flex;
  justify-content: space-around;
  align-items: center;
  .modal-mood-icon{
    flex: 1 0 30%;
    img{
      height: 5em;
      width: auto;
    }
  }
}

#button-modal{
  padding: 10px 15px;
  border-radius: 5px;
  background-color: darken(#99d4dc, 20%);
  border: 1px solid darken(#99d4dc, 20%);
  color: white;
  font-weight: bolder;
  transition: all .5s ease-out;
  &:hover{
    background-color: darken(#99d4dc, 15%);
    border: 1px solid darken(#99d4dc, 15%);
  }
  &:focus{
    outline: none;
  }
}

@media only screen and (max-width: 995px) {
  .modal:before{
    height: auto !important;
  }
}

@media only screen and (max-width: 991px) {
  .rsvp-image{
    height: 12em !important;
  }
  .rsvp-check{
    h3{
      font-size: 22px;
    }
  }
}

@media only screen and (min-width: 769px) and (max-width: 991px) {
  .rsvp-check{
    width: 90%;
  }
}
