/* RSVP -- Main class */
#rsvp{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  padding-top: 4em;
  margin-top: 2em;
  .rsvp-full{
    width: 85%;
  }
  .rsvp-details{
    display: none;
    justify-content: space-between;
    flex-direction: column;
    height: 18em;
    margin-top: 2em;
    .rsvp-inputs{
      height: 11em;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
    }
    .group{
      display: flex;
      justify-content: space-between;
    }
    #sub{
      width: 48%;
    }
    #song{
      width: 100%;
    }
    input{
      width: 48%;
      margin: 10px 0;
      padding-bottom: 7px;
      border: 0;
      border-bottom: 1px solid #515151;
      background-color: transparent;
      &::placeholder{
        font-weight: lighter;
        color: $gray-lighter;
      }
    }
  }
}
.rsvp-check{
  text-align: center;
  h3{
    display: inline;
  }
  input[type="checkbox"]{
    margin-left: 3vw;
  }
}
#submit-rsvp{
  margin-top: 2em;
  padding: 20px 30px;
  border-radius: 5px;
  background: transparent;
  border: 1px solid darken(#99d4dc, 15%);
  color: darken(#99d4dc, 15%);
  font-weight: bolder;
  transition: all .5s ease-out;
  &:hover{
    background-color: darken(#99d4dc, 15%);
    color: white;
  }
}

.division-rsvp{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em 0 5em;
  .rsvp-image{
    position: absolute;
    height: 14em;
  }
}

.flower-division{
  width: 100%;
}
