// BANNER //
.banner {
  height: calc(100vh - 100px);
  background: url('../images/banner-essai.png') no-repeat center center fixed;
  // background: url('http://via.placeholder.com/1050x750') no-repeat center center fixed;
}

// Header //
.main-header{
  position: fixed;
  height: 7em;
  width: 100vw;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.main-header .nav-top .nav-logo>div{
  transition: all 500ms ease;
}
.main-header .nav-top .nav-logo a {
    display: block;
}

// Logo //
.logo-homepage img, .logo-subpage img{
    height: 100px
}

// Main Navigation Section //
.navigation-menu{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation_links{
  margin: 0;
  cursor:pointer;
  padding: 0 2em;
  .nav-item{
    margin: 0 0.7em;
    a{
      text-decoration:none;
      color: #ffffff;
      &:hover{
        border-bottom: 2px solid white;
      }
    }
  }
}
