
// The Sardines Presentation
.the-sardines{
  margin-bottom: 2em;
}

.the-sardines-all{
  margin-top: 1.3em;
}
.the-sardines-photos{
  display: flex;
  justify-content: space-around;
  margin: .6em 0 1.5em 0;
  img{
    height: 30em;
    transition: opacity .2s ease-in;
    border-radius: 8px;
    &:hover{
      opacity: 0;
    }
  }
  #valeria{
    height: 100%;
    width: 18.2em;
    background: url('../../images/valeriasardina.png');
    background-size: cover !important;
    background-repeat: no-repeat;
    background-position:top;
    border-radius: 8px;
  }
  #romain{
    height: 100%;
    width: 18.2em;
    background: url('../../images/romainfinal.png');
    background-size: cover !important;
    background-repeat: no-repeat;
    background-position:top;
    border-radius: 8px;
  }
}

.the-sardines-text{
  text-align: justify;
  h4{
    margin-top: 0;
  }
}

// Save The Date Video!
.video-holder{
  margin: 1.3em 0 2em 0;
  align-items: center;
  img{
    height: auto;
    width: 100%
  }
  iframe{
    width: 100%;
    height: 25em;
    border: none;
    z-index: -1;
  }
}

.flower-division{
  margin-top: 2em;
}

.footer{
  height: 10vh;
  font-weight: lighter;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  .heart{
    color: red;
  }
}

@media only screen and (max-width: 620px) {

  .the-sardines-photos img{
    height: 18em;
    width: 100%;
  }
  .sardine-photo{
    width: 100% !important;
  }
  #romain{
    margin-right: 10px;
  }
  .video-holder{
    margin-top: -30px;
    .save-the-date-titre{
      margin-bottom: 15px;
    }
  }
}
