<div class="modal fade" id="modal-comming">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="modal-card">
          <span class='modal-mood-icon text-center'><%= emojify ':hibiscus:' %></span>
          <div class="modal-text">
            <h2>Qué buena noticia!!</h2>
            <p>Estamos muy contentos de celebrar contigo este dia tán especial!</p>
            <p>Si tienes preguntas, mándarnos un email a <strong>sardine.wedding@gmail.com</strong></p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="display-center">
          <button type="button" id="button-modal" data-dismiss="modal">Listo!</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal-not-comming">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="modal-card">
          <span class='modal-mood-icon text-center'><%= emojify ':raised_hands:' %></span>
          <div class="modal-text">
            <h2>Tendremos otras ocasiones de celebrar</h2>
            <p>Pensamos mucho en ti y te mandaremos buenas vibras desde el Algarve</p>
            <p>Si tienes preguntas o comentarios, mándanos un email a <strong>sardine.wedding@gmail.com</strong></p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="display-center">
          <button type="button" id="button-modal" data-dismiss="modal">Tchao!</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal-not-yet">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="modal-card">
          <span class='modal-mood-icon text-center'><%= emojify ':sunny:' %></span>
          <div class="modal-text">
            <h2>Faltan informaciones...</h2>
            <p>Verifica las informaciones siguientes:</p>
            <p> > Tu <strong>nombre completo</strong> y tu <strong>email</strong></p>
            <p> > El numero de <strong>niños</strong></p>
            <p> > La <strong>canción</strong> que quieres escuchar durante la boda</p>
            <p> > Que el <strong>código secretro</strong> está correcto</p>

            <p>Si necesitas ayuda, mándanos un email a <strong>sardine.wedding@gmail.com</strong></p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="display-center">
          <button type="button" id="button-modal" data-dismiss="modal">Vuelvo a intentar!</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="housing">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="modal-card">
          <span class='modal-mood-icon text-center'><%= emojify ':palm_tree:' %></span>
          <div class="modal-text">
            <h2>El alojamiento en el Algarve</h2>
            <p>## Mas informaciones en poco tiempo ##</p>
            <p>Entretanto mándanos tus preguntas a <strong>sardine.wedding@gmail.com</strong></p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="display-center">
          <button type="button" id="button-modal" data-dismiss="modal">Gracias!</button>
        </div>
      </div>
    </div>
  </div>
</div>
