<div class="modal fade" id="modal-comming">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="modal-card">
          <span class='modal-mood-icon text-center'>游꺜</span>
          <div class="modal-text">
            <h2>Qu칠 buena noticia!!</h2>
            <p>Estamos muy contentos de celebrar contigo este dia t치n especial!</p>
            <p>Si tienes preguntas, m치ndarnos un email a <strong>sardine-wedding@gmail.com</strong></p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="display-center">
          <button type="button" id="button-modal" data-dismiss="modal">Listo!</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal-not-comming">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="modal-card">
          <span class='modal-mood-icon text-center'>游뗿</span>
          <div class="modal-text">
            <h2>Tendremos otras ocasiones de celebrar</h2>
            <p>Pensamos mucho en ti y te mandaremos buenas vibras desde el Algarve</p>
            <p>Si tienes preguntas o comentarios, m치ndanos un email a <strong>sardine-wedding@gmail.com</strong></p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="display-center">
          <button type="button" id="button-modal" data-dismiss="modal">Tchao!</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal-not-yet">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="modal-card">
          <span class='modal-mood-icon text-center'>游</span>
          <div class="modal-text">
            <h2>Faltan informaciones...</h2>
            <p>Verifica las informaciones siguientes:</p>
            <p> > Elejiste una de las 2 opciones de <strong>presencia</strong></p>
            <p> > Tu <strong>nombre completo</strong> y tu <strong>email</strong></p>
            <p> > El numero de <strong>ni침os</strong></p>
            <p> > La <strong>canci칩n</strong> que quieres escuchar durante la boda</p>
            <p> > Que el <strong>c칩digo secretro</strong> est치 correcto</p>

            <p>Si necesitas ayuda, m치ndanos un email a <strong>sardine-wedding@gmail.com</strong></p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="display-center">
          <button type="button" id="button-modal" data-dismiss="modal">Vuelvo a intentar!</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="housing">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="modal-card">
          <span class='modal-mood-icon text-center'>游끴</span>
          <div class="modal-text">
            <h2>El alojamiento en el Algarve</h2>
            <p>## Mas informaciones en poco tiempo ##</p>
            <p>Entretanto m치ndanos tus preguntas a <strong>sardine-wedding@gmail.com</strong></p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="display-center">
          <button type="button" id="button-modal" data-dismiss="modal">Gracias!</button>
        </div>
      </div>
    </div>
  </div>
</div>
