<div class="modal fade" id="modal-comming">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="modal-card">
          <span class='modal-mood-icon text-center'><%= emojify ':hibiscus:' %></span>
          <div class="modal-text">
            <h2>Quelle bonne nouvelle!!</h2>
            <p>Nous sommes ravis de savoir que tu seras des notres!</p>
            <p>Si tu as des questions, n'hésite pas à nous envoyer un email à <strong>sardine.wedding@gmail.com</strong></p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="display-center">
          <button type="button" id="button-modal" data-dismiss="modal">Top!</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal-not-comming">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="modal-card">
          <span class='modal-mood-icon text-center'><%= emojify ':raised_hands:' %></span>
          <div class="modal-text">
            <h2>Nous aurons d'autres occasions de célébrer</h2>
            <p>Nous penserons fort à toi et t'enverrons des bonnes ondes depuis l'Algarve</p>
            <p>Si tu as des questions ou des commentaires, n'hésite pas à nous envoyer un email à <strong>sardine.wedding@gmail.com</strong></p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="display-center">
          <button type="button" id="button-modal" data-dismiss="modal">Parfait!</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal-not-yet">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="modal-card">
          <span class='modal-mood-icon text-center'><%= emojify ':sunny:' %></span>
          <div class="modal-text">
            <h2>Il manque des informations...</h2>
            <p>Vérifie les infos suivantes:</p>
            <p> > Ton <strong>nom</strong> et ton <strong>email</strong></p>
            <p> > Le nombre <strong>d'enfants</strong></p>
            <p> > La <strong>chanson</strong> que tu veux entendre au mariage</p>
            <p> > Le <strong>code secret</strong> est correct</p>

            <p>Si tu as besoin d'aide, envoie-nous un email à <strong>sardine.wedding@gmail.com</strong></p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="display-center">
          <button type="button" id="button-modal" data-dismiss="modal">Je rééssaye!</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="housing">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="modal-card">
          <span class='modal-mood-icon text-center'><%= emojify ':palm_tree:' %></span>
          <div class="modal-text">
            <h2>Le Logement sur place</h2>
            <p>## Plus d'informations à venir ##</p>
            <p>En attendant pose tes questions à <strong>sardine.wedding@gmail.com</strong></p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="display-center">
          <button type="button" id="button-modal" data-dismiss="modal">Merci!</button>
        </div>
      </div>
    </div>
  </div>
</div>
