<div class="modal fade" id="modal-comming">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="modal-card">
          <span class='modal-mood-icon text-center'><%= emojify ':hibiscus:' %></span>
          <div class="modal-text">
            <h2>Que boa notícia!!</h2>
            <p>Estamos muito contentes de saber que estarás conosco neste dia tão especial!</p>
            <p>Se tiveres perguntas, manda-nos um email a <strong>sardine-wedding@gmail.com</strong></p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="display-center">
          <button type="button" id="button-modal" data-dismiss="modal">Ótimo!</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal-not-comming">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="modal-card">
          <span class='modal-mood-icon text-center'><%= emojify ':raised_hands:' %></span>
          <div class="modal-text">
            <h2>Teremos outras ocasiões de festejar</h2>
            <p>Pensamos muito em ti e mandaremos boas ondas desde Faro</p>
            <p>Se tens perguntas ou comentarios, manda-nos um email a <strong>sardine-wedding@gmail.com</strong></p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="display-center">
          <button type="button" id="button-modal" data-dismiss="modal">Tchau!</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal-not-yet">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="modal-card">
          <span class='modal-mood-icon text-center'><%= emojify ':sunny:' %></span>
          <div class="modal-text">
            <h2>Faltam informações...</h2>
            <p>Verifica as inforações seguintes:</p>
            <p> > Teu <strong>nome completo</strong> e teu <strong>email</strong></p>
            <p> > O numero de <strong>crianças</strong></p>
            <p> > A <strong>música</strong> que queres ouvir durante o casamento</p>
            <p> > Que o <strong>código secreto</strong> está correcto</p>

            <p>Se precisas de ajuda, envia-nos um email a <strong>sardine-wedding@gmail.com</strong></p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="display-center">
          <button type="button" id="button-modal" data-dismiss="modal">Volto a tentar!</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="housing">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="modal-card">
          <span class='modal-mood-icon text-center'><%= emojify ':palm_tree:' %></span>
          <div class="modal-text">
            <h2>O alojamento na região</h2>
            <p>## Mais informações em breve ##</p>
            <p>Entretanto, manda-nos as tuas perguntas a <strong>sardine-wedding@gmail.com</strong></p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="display-center">
          <button type="button" id="button-modal" data-dismiss="modal">Obrigado!</button>
        </div>
      </div>
    </div>
  </div>
</div>
