<div class="banner">
</div>

<div class="tabs">
    <a class="tab" href="#save_the_date">
    <span href="" class="navbar-wagon-item navbar-wagon-link">Save The Date!</span>
  </a>
  <a class="tab" href="/">
    <span href="" class="navbar-wagon-item navbar-wagon-link">##More to come##</span>
  </a>
</div>
