  <div class="main-header">
    <!-- Logo Goes Here -->
    <div class="nav-logo">
      <!-- Home -> white logo no scroll -->
      <a href="/" class="logo-homepage">
        <%= image_tag "logo-homepage.png", id:"logo-homepage" %>
      </a>
        <!-- Page -> black logo Scroll -->
        <a href="/" class="logo-subpage">
          <%= image_tag "logo-subpage.png", id:"logo-subpage" %>
        </a>
      </div>

      <!-- UL navigation -->
      <div class="navigation-menu">
        <ul class="navigation_links list-inline">
          <li class="nav-item list-inline-item">
            <a class='nav-link' href="#save_the_date"><span>The Sardines</span></a>
          </li>
          <li class="nav-item list-inline-item">
            <a class='nav-link' href="#save_the_date"><span>Save the Date!</span></a>
          </li>
          <li class="nav-item list-inline-item">
            <a class='nav-link' href="#rsvp"><span>RSVP</span></a>
          </li>
          <li class="nav-item list-inline-item">
            <a class='nav-link' href="#save_the_date"><span>Wedding Details</span></a>
          </li>
          <li class="nav-item list-inline-item">
            <a class='nav-link' href="#save_the_date"><span>Accomodation</span></a>
          </li>
          <li class="nav-item list-inline-item">
            <a class='nav-link' href="#save_the_date"><span>Visit Algarve</span></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
<div class="banner">
  <%= image_tag 'logobanner.png', id:"main-logo" %>
</div>
