<div id="save_the_date">
  <div class="wrapper">
    <iframe src="https://player.vimeo.com/video/225665857"
      frameborder="0"
      allowFullScreen></iframe>
  </div>
</div>

<div class="wrapper gray">
  <div id="rsvp" class="white">
    <div class="form">

      <div class="rsvp-check" id="yes">
        <span>I'll be there!</span>
        <input type="checkbox">
      </div>
      <div class="rsvp-check" id="no">
        <span>Sorry I can't...</span>
        <input type="checkbox">
      </div>

      <input id="firtname" type="text">
      <input id="lastname" type="text">
      <input id="email" type="text">
      <input type="checkbox">
      <input id="plusone" type="text">
      <input id="children" type="number">
      <a href="">send</a>
    </div>
  </div>
</div>
